<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>


</p>

<input type='button' id='load-tasks' value="View Tasks">
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<table class="table">
  <thead>
  <th>Task Name</th>
  <th>Task Description</th>
  <th>Task Status</th>
  <th>Delete</th>
  </thead>
  <tbody id="task_tb" <%= "data-project-id=#{params[:id]}" if params.has_key?(:id) %>></tbody>
</table>