<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>

</p>

<input type='button' id='load-tasks' value="View Tasks">
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


<div class="well well-lg">
  <h1>Tasks</h1>
  <table class="table">
    <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
    </thead>
    <tbody id="task_tb" <%= "data-params-id=#{params[:id]}" if params.has_key?(:id) %>></tbody>
  </table>
</div>
